*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

:root{
	--color-primary: #6c63ff;
	--color-success: #00bf8e;
	--color-warning: #f7c;
}